@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

/* ADOPTA UN ANGEL */
.categoria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: xx-large;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.gato {
  background-image: url(../img/gato.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
  color: black;
}

.perro {
  background-image: url(../img/perro.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
  color: black;
}

.categoriaPerros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cachorros {
  background-image: url(../img/cachorro.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
  color: black;
}

.adultos {
  background-image: url(../img/perro-adulto.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
  color: black;
}

.viejitos {
  background-image: url(../img/viejito.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
  color: black;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  justify-content: center;
}

.card {
  display: grid;
  border-radius: 1px;
  max-width: 100%;
  padding: 10px;
}

.botonInfo {
  background-color: red;
  color: white;
}

.botonAdoptar {
  background-color: green;
  color: white;
}

/*CONTACTO*/
form {
  margin-top: 30px;
  margin-left: 100px;
}

label {
  display: flex;
  margin: 10px;
  font-weight: bold;
  font-size: larger;
}

input {
  display: block;
  width: 300px;
  height: 30px;
}
input:focus {
  background-color: rgb(9, 10, 85);
}

textarea {
  display: flex;
  width: 500px;
}

.boton {
  width: 100px;
  margin: 10px;
  padding: 20px;
  background-color: midnightblue;
  color: white;
  border: none;
  display: inline;
}

.flexPadre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.navFlex {
  font-size: 50px;
  text-decoration: none;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.wpp {
  padding: 75px;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
}

.redes {
  color: black;
}

.iconWpp {
  width: 50px;
  color: #25d366;
}

.iconFacebook {
  width: 50px;
  color: blue;
}

.iconIg {
  width: 50px;
  color: rgb(99, 22, 170);
}

.iconX {
  width: 50px;
}

.iconYt {
  width: 50px;
  color: red;
}

/* donaciones */
.flexDon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

h2 {
  color: black;
}

.iconPp {
  width: 100px;
  color: #012169;
  cursor: pointer;
}

.iconVisa {
  width: 200px;
  color: #1a1f71;
  cursor: pointer;
}

.iconMaster {
  width: 200px;
  cursor: pointer;
}

footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

/*header*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: space-evenly;
  z-index: 10;
}

.imgMiniLogo {
  width: 100px;
}

.nav-link {
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 25px;
  justify-content: space-around;
  transition: all 1s;
}
.nav-link:hover {
  background: linear-gradient(to left, #f12711, #f5af19);
  font-size: 30px;
}

.navbar-toggler {
  color: white;
}

.fondo {
  background-image: url("../img/perros-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px;
}

.tituloPagina {
  font-family: "Dancing Script", cursive;
  color: white;
  padding-top: 50px;
  font-size: 70px;
}

.logoWpp {
  position: fixed;
  width: 70px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

/* INICIO */
main {
  margin: 20px;
  padding: 20px;
}

.imgDarin,
.imgObama,
.imgMiley {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 80%;
}

h2 {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.videoInicio {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 30%;
  width: 500px;
  height: 500px;
}

.flexDatos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* RESPONSIVE*/
/* TABLET 768px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .fondo {
    display: flex;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 160%;
  }
  header {
    width: 160%;
  }
  /* inicio */
  .grafico {
    width: 350px;
  }
  .estadistica {
    font-size: 10px;
  }
  /* nosotros */
  .nosotros {
    font-size: 15px;
  }
  .ellos {
    font-size: 12px;
  }
  /* adoptar */
  .row {
    grid-template-columns: 15px 15px;
  }
  /*¨contacto */
  h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .iconFacebook,
  .iconIg,
  .iconX,
  .iconYt {
    margin-left: 100px;
  }
  .navFlex {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }
}
/*MOVIL*/
@media (max-width: 767px) {
  body {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .fondo {
    display: flex;
    height: 100px;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 767px;
  }
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 767px;
  }
  /*INICIO*/
  h1 {
    font-size: 15px;
  }
  .videoInicio {
    margin: auto;
    width: auto;
  }
  .grafico {
    width: 50%;
  }
  .flexDatos {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /* nosotros */
  .nosotros {
    font-size: 100%;
  }
  /* ADOPTAR */
  .row {
    grid-template-columns: 15px;
  }
  /* contacto */
  h1 {
    font-size: 50px;
  }
  .flexPadre {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  textarea {
    width: 400px;
  }
  .videoContacto {
    margin: auto;
    width: auto;
    padding: 30px;
  }
  .navFlex a {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* donaciones */
  h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .mapaDonacion {
    width: auto;
  }
}

/*# sourceMappingURL=estilo.css.map */
