/* ADOPTA UN ANGEL */

.categoria {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.gato {
    background-image: url(../img/gato.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
}


.perro {
    background-image: url(../img/perro.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
}

.categoriaPerros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cachorros {
    background-image: url(../img/cachorro.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
}
.adultos {
    background-image: url(../img/perro-adulto.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
}

.viejitos {
    background-image: url(../img/viejito.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    justify-content: center;

}
.card {
    display: grid;
    border-radius: 1px;
    max-width: 100%;
    padding: 10px;
}

.botonInfo {
    background-color: $color-boton;
    color: $color-fuentes;
}

.botonAdoptar {
    background-color: $color-boton-sec;
    color: $color-fuentes;
}