/*CONTACTO*/

form {
    margin-top: 30px;
    margin-left: 100px;
}

label {
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}

input {
    display: block;
    width: 300px;
    height: 30px;

    &:focus {
        background-color: rgb(9, 10, 85);
    }
}

textarea {
    display: flex;
    width: 500px;
}

.boton {
    width: 100px;
    margin:10px;
    padding:20px;
    background-color: midnightblue;
    color: $color-fuentes;
    border: none;
    display: inline;
}

.flexPadre {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navFlex {
    font-size: 50px;
    text-decoration: none;
    margin: auto;
}

a {
    @include anclas;
    padding: 10px;
}

.wpp {
    padding: 75px;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
}

.redes {
    color: $color-fondo;
}

.iconWpp {
    width: 50px;
    color: #25d366;
}

.iconFacebook {
    width: 50px;
    color: blue;
}

.iconIg {
    width: 50px;
    color: rgb(99, 22, 170);
}

.iconX {
    width: 50px;
}

.iconYt {
    width: 50px;
    color: $color-boton;
}

