/*header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: black;
    justify-content: space-evenly;
    z-index: 10;

}

.imgMiniLogo {
    width: 100px;
}

.nav-link {
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 25px;
    justify-content: space-around;
    transition: all 1s;

    &:hover {
        background: linear-gradient(to left,#f12711,#f5af19 );
        font-size: 30px;
    }
}

.navbar-toggler {
    color: white;
}

.fondo {
    background-image: url("../img/perros-banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px 80px;
}

.tituloPagina p {
    font-family: 'Dancing Script', cursive;
    color: $color-fuentes;
    font-size: 30px;
}

.logoWpp {
    position: fixed;
    width: 70px;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}