/* RESPONSIVE*/

/* TABLET 768px*/

@media (min-width: 768px) and (max-width: 1024px) {
    .fondo {
        display: flex;
        height: auto;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    header {
        width: 100%;
    }

    /* inicio */

    .grafico {
        width: 350px;
    }

    .estadistica {
        font-size: 10px;
    }

    /* nosotros */

    .nosotros {
        font-size: 15px;
    }

    .ellos {
        font-size: 12px;
    }

    /* adoptar */

    .row {
        grid-template-columns: 15px 15px;
    }

    /*¨contacto */

    h1 {
        text-align: center;
        align-items: center;
        justify-content: center;
    }


}

/*MOVIL*/

@media (min-width: 340px) and (max-width: 767px) {
    body {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .fondo {
        display: flex;
        height:50px;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .tituloPagina {
        font-size: 27px;
    }

    /*INICIO*/

    h1 {
        font-size: 15px;
    }

    .videoInicio {
        margin: auto;
        width: auto;
    }

    .grafico {
        width: 50%;
    }

    .flexDatos {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* nosotros */

    .nosotros {
        font-size: 20px;
    }

    /* ADOPTAR */

    .categoria {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

    .categoriaPerros {
        display: flex;
        flex-direction: column;
    }

    .row {
        grid-template-columns: 15px;
        width: 100%;
        justify-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    /* contacto */

    h1 {
        font-size: 50px;
    }

    .flexPadre {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    input {
        width: 250px;
    }

    textarea {
        width: 250px;
    }

    .videoContacto {
        margin: auto;
        width: auto;
        padding: 30px;
    }

    .formFlex {
        justify-content: center;
        align-items: center;
    }

    .navFlex a {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* donaciones */

    h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .flexDon {
        display: flex;
        flex-direction: column;
        
    }

    .mapaDonacion {
        width: auto;
    }
}